    <script src="https://unpkg.com/@gitlab/application-sdk-js/dist/gl-sdk.min.js"></script>
<script>window.glClient = window.glSDK.glClientSDK({
    applicationId: '32382a63-d0ec-4c49-b367-2cef397285c4',
host: 'https://collector.stack001.gl-product-analytics.com/'});
window.glClient.page();
</script>
